<p id="notice"><%= notice %></p>
<div class="row">
	<div class="col-md-5"></div>
	<div class="col-md-6">
	</div>
</div>
<div class="row">
	<div class="col-md-2"></div>
			<div class="col-md-8">
			<div class="panel panel-default">
	    		<h3 class="panel-heading">Configuración de Notificador
	    		</h3>
	    		<div class="panel-body">
					<div class="col-md-9">
						<%= render 'form' %>
					</div>
				</div>	
			</div>
		</div>
	</div>