<!-- Page Heading -->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Usuario <small>Nuevo</small>
        </h1>
        <ol class="breadcrumb">
            <li class="active">
                <i class="fa fa-dashboard"></i> <%= link_to 'Organizaciones', organization_path(@organization) %> > <%= link_to 'Usuarios', organization_users_path %> > Nuevo
            </li>
        </ol>
    </div>
</div>

<%= render 'form' %>

<%= link_to 'Atrás', organization_users_path(@organization), class: 'btn btn-default btn-xs' %>