<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= current_user.name %>
</p>

<p>
  <strong>Id number:</strong>
  <%= current_user.id_number %>
</p>

<p>
  <strong>Email:</strong>
  <%= current_user.email %>
</p>