<!-- Page Heading -->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            <span class="glyphicon glyphicon-calendar"></span> Eventos <small></small>
        </h1>
        <ol class="breadcrumb">
            <li class="active">
                <%= link_to 'Eventos', events_path %> > Nuevo
            </li>
        </ol>
    </div>
</div>

<%= render 'form' %>
