<h1>Editar organización <%= @organization.name %></h1>

<%= render 'form' %>

<%= link_to 'Ver', @organization, class: 'btn btn-default btn-xs' %> |
<%= link_to 'Atrás', organizations_path, class: 'btn btn-default btn-xs' %>
