<h1>Editing organization</h1>

<%= render 'form' %>

<%= link_to 'Show', @organization, class: 'btn btn-default btn-xs' %> |
<%= link_to 'Back', organizations_path, class: 'btn btn-default btn-xs' %>
