<li class="<%= nav_active_controller 'organizations' %>">
	<%= link_to 'Organizaciones', organizations_url %>
	<% if @organization %>
	<ul>
		<li class="<%= nav_active_controller 'users' %>">
			<%= link_to("Usuarios", organization_users_path(@organization)) %>
		</li>
	</ul>
	<% end %>
</li>