<%= nav_link('<span class="fa fa-briefcase"></span> Causas'.html_safe, causes_path) %>
<%= nav_link('<span class="fa fa-users"></span> Clientes'.html_safe, clients_path) %>
<%= nav_link('<span class="fa fa-money"></span> Cobros'.html_safe, '#') %>