<%= nav_link('<span class="glyphicon glyphicon-briefcase" aria-hidden="true"></span> Causas'.html_safe, causes_path) %>
<%= nav_link('<span class="glyphicon glyphicon-user" aria-hidden="true"></span> Clientes'.html_safe, clients_path) %>